body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home {
  font-family: 'Great Vibes', cursive;
  background-color: black;
  text-align: center;
  color: white;
  height: 100vh;
  width: 100%;
  font-size: 80px;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes fadein{
0%{opacity: 0;}
100%{opacity:1;}
}

@keyframes fadeout{
0%{opacity: 1;}
100%{opacity:0;}
}

.fade{
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}


h1{
  margin: 0px;
  padding: 0px;
  padding-top:30vh;
}

#enter{
  padding:10px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

p{
  position: relative;
  animation-name: left;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes left{
  0%{left:-100vw; transform: scale(2);}
  100%{left:0vw; transform: scale(1);}
}
