body{
  margin:0px;
  padding: 0px;
  background-color: black;
}

.home{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.topbar{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 10%;
  color: white;
}

.topbar-name{
  font-family: 'Arizonia', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 40px;
}

.grid{
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  height: 60%;
}

.content{
  margin: 2vh 2vh 2vh 0px;
  width: 6vw;
  height: 80%;
  border: 1px solid white;
}

.hover{
  animation-name: grow;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border: 2px solid white;
  box-shadow: 0px 10px 25px 2px white;
  cursor: pointer;
}

.hoverOut{
  animation-name: normal;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0%{width:6vw;}
  100%{width:10vw;}
}

@keyframes normal {
  0%{width:10vw;}
  100%{width:6vw;}
}

.zoomOut{
  animation-name: zoomOut;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes zoomOut {
0%{transform: scale(2.0); opacity: 0.2;}
100%{transform: scale(1.0); opacity: 1;}
}

.button{
  padding: 15px;
  align-self: center;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
}

.button:hover{
  background-color: #005A34;
  color: white;
}

.backbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.fadeout{
  animation: fade;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.parallax{
  background-image: url(parallax.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.parallax:hover{
  opacity: 1;
}

.car{
  background-image: url(car.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.car:hover{
  opacity: 1;
}

.codeplayer{
  background-image: url(codeplayer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.codeplayer:hover{
  opacity: 1;
}

.budget{
  background-image: url(budget.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.budget:hover{
  opacity: 1;
}

.coffee{
  background-image: url(coffee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.coffee:hover{
  opacity: 1;
}

.image{
  background-image: url(image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.image:hover{
  opacity: 1;
}

.video{
  background-image: url(video.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.video:hover{
  opacity: 1;
}

.dice{
  background-image: url(dice.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.dice:hover{
  opacity: 1;
}

.pos-2{
  position: relative;
  top: 4vh;
}

.pos-3{
  position: relative;
  top: 8vh;
}

@media only screen and (max-width: 1074px) {
  .topbar-name{
    font-size:35px;
  }
}

@media only screen and (max-width: 674px) {
  .topbar-name{
    font-size:30px;
  }
}

@media only screen and (max-width: 450px) {
  .topbar-name{
    font-size:30px;
  }
}

@media only screen and (max-width: 450px) {
  .content{
    width: 10vw;
  }
}
