body{
  margin:0px;
  padding: 0px;
  background-color: #E6E4DE;
  overflow: hidden;
}

.home{
  height: 100vh;
  width: 100%;
}

.topbar{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 10%;
}

.topbar-name{
  font-family: 'Arizonia', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 20px;
}

.grid{
  margin-top: 5vh;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  height: 60%;
}

.content{
  margin: 2vh 2vw 2vh 0px;
  width: 6vw;
  height: 80%;
  border: 1px solid black;
}

.hover{
  transition: width 1s;
  border: 2px solid black;
  box-shadow: 0px 10px 25px 2px black;
}

.hover:hover{
  width:15vw;
}


.pos-2{
  position: relative;
  top: 4vh;
}

.pos-3{
  position: relative;
  top: 8vh;
}

.aboutme{
  background-image: url(me.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.aboutme:hover{
  opacity: 1;
}

.code{
  background-image: url(code.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.code:hover{
  opacity: 1;
}

.education{
  background-image: url(education.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.education:hover{
  opacity: 1;
}

.contact{
  background-image: url(contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.contact:hover{
  opacity: 1;
}

.connect{
  background-image: url(social.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.connect:hover{
  opacity: 1;
}

.project{
  background-image: url(project.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  cursor: pointer;
}

.project:hover{
  opacity: 1;
}


.details{
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail-head{
  margin-top: 7vh;
  font-size: 80px;
  font-family: 'Lobster', cursive;
}

.zoom{
  animation-name: zoom;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes zoom {
  0%{transform: scale(0); opacity:0.0;}
  20%{transform: scale(0); opacity:0.0;}
  40%{transform: scale(0.4); opacity:0.2;}
  60%{transform: scale(0.8);  opacity:0.4;}
  80%{transform: scale(1.2);  opacity:0.6;}
  100%{transform: scale(1.0);  opacity:1;}
}

.fade{
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  0%{opacity:0;}
  100%{opacity:1;}
}

.scale{
  animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes scale{
  0%{transform: scale(1.0); opacity: 0.7;}
  100%{transform: scale(25.0); opacity:0.3;}
}

@media only screen and (max-width: 1074px) {
  .detail-head{
    font-size:50px;
  }
}

@media only screen and (max-width: 674px) {
  .detail-head{
    font-size:30px;
  }
}

@media only screen and (max-width: 402px) {
  .detail-head{
    font-size:20px;
  }
}

@media only screen and (max-width: 1074px) {
  .content{
    width: 10vw;
  }
}

@media only screen and (max-width: 674px) {
  .content{
    width: 10vw;
  }
}

@media only screen and (max-width: 402px) {
  .content{
    width: 10vw;
  }
}
